/* Resetando estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
}

/* Estilizando o corpo da página */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ff9900, #ffbb54);
}

/* Estilizando os botões */
button {
  background-color: #1e293b; /* Azul escuro */
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Efeito hover */
button:hover {
  background-color: #ffcc00; /* Amarelo para dar um efeito chamativo */
  transform: scale(1.1);
}

/* Estilizando os links dentro dos botões */
button a {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
}

/* Removendo estilo azul padrão dos links */
button a:visited {
  color: white;
}

/* Responsividade */
@media (max-width: 600px) {
  button {
      font-size: 1.2em;
      padding: 10px 20px;
  }
}
